.btn{
    width: 100%;
    margin-top: 1.6rem;
}
.row{
    margin-bottom: 5px;
}
.sidenav-trigger{
    font-size: 30px
}
.card{
    transition: 0.3s;
}
.center-text{
    text-align: center;
}
.progress{
    margin: 0;
}