<nav class="teal lighten-2">
  <div class="container nav-wrapper">
    <a class="brand-logo">{{title}}</a>
    <a href="#" data-target="sidenav-menu" class="sidenav-trigger">&#9776;</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a (click)="getNotes(false)">Latest</a></li>
      <li><a (click)="getNotes(true)">Oldest</a></li>
    </ul>
  </div>
</nav>

<ul id="sidenav-menu" class="sidenav">
    <li class="teal lighten-1 section white-text">
      <h5 class="center-text">{{title}}</h5>
    </li>
    <li><a class="waves-effect" (click)="getNotes(false)">Latest first</a></li>
    <li><a class="waves-effect" (click)="getNotes(true)">Oldest first</a></li>
</ul>
<div class="progress" *ngIf="loading">
    <div class="indeterminate"></div>
</div>


<div class="container">
    <div class="section">
        <div class="card">
          <div class="card-content">
            <h5 class="responsive-text">New Note</h5>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="note-text" class="materialize-textarea" [(ngModel)]="newNote.text"></textarea>
                <label for="note-text" >Note</label>
              </div>
            </div>
      
            <div class="row">
                <div class="input-field col s12 m6">
                  <input id="name" type="text" class="" [(ngModel)]="newNote.name">
                  <label for="name">Name</label>
                </div>
                <div class="col s6 m3">
                  <a class="btn" (click)="emptyForm()" *ngIf="newNote.name || newNote.text">Clear</a>
                </div>
                <div class="col s6 m3">
                  <a class="btn" (click)="addNote()" *ngIf="newNote.name && newNote.text">Submit</a>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <h5 class="responsive-text" *ngIf="notes.length > 0">Notes</h5>
      <p class="responsive-text grey-text text-lighten-1 center-text" *ngIf="notes.length <= 0">No notes yet... Go ahead and add one!</p>
      <div class="section" *ngFor="let note of notes">
        <div class="card lighten-2 white-text" [ngClass]="{'cyan': editingCheck(note), 'teal': !editingCheck(note)}">
          <div class="card-content">
      
            <div class="row">
              <div class="input-field col s12" *ngIf="editingCheck(note)">
                <textarea id="note-text" class="materialize-textarea white-text" [(ngModel)]="selectedNote.text"></textarea>
                <label for="note-text" class="white-text active">Note</label>
              </div>
              <div class="col s12" *ngIf="!editingCheck(note)">
                <p class="responsive-text white-text">
                  {{note.text}}
                </p>
              </div>
            </div>
      
            <div class="row">
                <div class="input-field col s12 m6" *ngIf="editingCheck(note)">
                  <input id="name" type="text" class="white-text" [(ngModel)]="selectedNote.name">
                  <label for="name" class="white-text active">Name</label>
                </div>
                <div class="input-field col s12 m6" *ngIf="!editingCheck(note)">
                  <h5 class="responsive-text white-text">{{note.name}}</h5>
                </div>
                <div class="normal-buttons button-container" *ngIf="!editingCheck(note)">
                  <div class="col s6 m3">
                      <a class="btn" (click)="selectNoteEdit(note)">Edit</a>
                  </div>
                  <div class="col s6 m3">
                      <a class="btn modal-trigger" href="#delete-modal" (click)="selectNote(note)">Delete</a>
                  </div>
                </div>
                <div class="edit-mode-buttons button-container" *ngIf="editingCheck(note)">
                    <div class="col s6 m3">
                        <a class="btn" (click)="unselectNote()">Cancel</a>
                    </div>
                    <div class="col s6 m3">
                        <a class="btn" (click)="editNote(selectedNote)">Save</a>
                    </div>
                  </div>
              </div>
              <div class="col s12 row white-text">
                  <span class="col s12 m6 responsive-text">Posted: {{ dateToLocal(note.created) }}</span>
                  <span class="col s12 m6 responsive-text" *ngIf="note.updated">Edited: {{ dateToLocal(note.updated) }}</span>
              </div>
          </div>
        </div>
      </div>
      
      
      <div id="delete-modal" class="modal">
        <div class="modal-content" *ngIf="selectedNote">
          <h4>Deleting a note</h4>
          <p>Are you sure you want to delete this note by "{{selectedNote.name}}"?</p>
          <blockquote>
              {{selectedNote.text}}
          </blockquote>
        </div>
        <div class="modal-footer">
          <button type="button" class="modal-close btn-flat" (click)="deleteNote(selectedNote._id)" *ngIf="selectedNote">Yes</button>
          <button type="button" class="modal-close btn-flat" (click)="unselectNote()">No</button>
        </div>
      </div>
      
</div>
